config core 'core'
	option enabled '0'
	option role 'standalone'
	option mutation_enabled '0'
	option discovery_interface 'br-lan'
option home_source_iface 'default_radio1'
option home_source_radio 'radio1'
option home_target_radio 'radio1'

config roaming 'policy'
	option enabled '0'
	option source_trigger_dbm '-68'
